<ng-progress></ng-progress>
<nav class="navbar navbar-default">
  <div class="container">
    <div class="navbar-header">
      <a class="navbar-brand" href="#">GitHub Search</a>
    </div>
    <div id="navbar" class="collapse navbar-collapse">
      <ul class="nav navbar-nav">
      </ul>
    </div>
    <!--/.nav-collapse -->
  </div>
</nav>
<hr>


<div class="container">
  <div class="row">
    <div class="col-md-8 col-md-offset">
      <blockquote class="text-center text-lg">
        <p>{{quote.login}}</p>
        <footer><cite>{{quote.followers}}</cite></footer>
      </blockquote>
    </div>
  <div>
</div>
