/* You can add global styles to this file, and also import other style files */
@import "~bootstrap/dist/css/bootstrap.css";
.halign{
  color: green;
  font-size: 30px;
}
.cont{
  border: 1px solid green;
}
.fontz{
  font-size: 15px;
}
.align{
  margin-left: 3px;
}
